/* Общие стили */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #AE7C78;
}

a:hover {
    border-bottom: 1px solid #D89999;
    opacity: 0.8;
}

a:focus,
a:active {
    opacity: 0.5;
}

.button {
    background: #D89999;
    border-radius: 40px;
    color: #FFFFFF;
    padding: 30px 70px;
    display: inline-block;
    appearance: none;
    border: none;
} 

.visually__hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}

.section__title, .catalog__title, .news__title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Стили для header */

.header {
    margin-top: 26px;
    padding: 22px 0 21px;
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
    position: relative;
}

.header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.nav__item:nth-child(6n + 3) {
    margin-right: 97px;
}

/* Стили для promo */

.promo {
    display: grid;
    grid-template-columns: 384px 793px;
    gap: 23px;
    margin-top: 82px;
    margin-bottom: 48px;
}

.promo__text-column {
    max-width: 384px;
}

.promo__title {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    margin-top: 0;
    margin-bottom: 24px;
}

.promo__title span {
    font-style: italic;
}

.promo__text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 64px;
}

.promo__img-column {
    max-width: 793px;
    display: flex;
}

.promo__img {
    border-radius: 10px;
    display: block;
}

.promo__img:first-of-type {
    margin-top: 52px;
    margin-right: 20px;
}

/* Стили для advantage */

.advantage {
    margin-bottom: 60px;
}

.advantage__list {
    display: flex;
    justify-content: space-between;
}

.advantage__item {
    display: flex;
}

.advantage__item img {
    margin-right: 20px;
}

.advantage__block {
    max-width: 285px;
}

.advantage__title {
    font-weight: 500;
    margin-bottom: 8px;
}

/* Стили для popular */

.popular {
    margin-bottom: 80px;
}

.popular__items {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 24px;
}

.popular__text-column, .popular__img-column {
    max-width: 387px;
}

.popular__text-column {
    margin-right: 20px;
}

.popular__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
}

.popular__item-text {
    margin-bottom: 24px;
}

.popular__item-size {
    margin-bottom: 24px;
}

.popular__item-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 64px;
}

.popular__item-button {
    padding: 30px 105px;
}

.pupular__switch {
    display: flex;
    justify-content: center;
}

.switch__bnt {
    background: none;
    border: none;
    cursor: pointer;
}

.switch__left {
    margin-right: 20px;
}

/* Стили для catalog */

.catalog {
    margin-bottom: 80px;  
}

.catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    grid-template-rows: 442px;
}

.bridal {
    background-image: url(../img/bridal.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.peonies {
    background-image: url(../img/peonies.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.choice {
    background-image: url(../img/choice.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.catalog__link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(174, 124, 120, 0.6);
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    color: #FFFFFF;
}

.catalog__title {
    margin-bottom: 8px;
}

/* Стили для discount */

.discount {
    margin-bottom: 80px;
}

.discount__block {
    background-color: #AE7C78;
    display: grid;
    grid-template-columns: 590px 590px;
    grid-template-rows: 391px;
    gap: 20px;
}

.discount__text-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 101px;
    color: #FFFFFF;
    justify-content: center;
}

.discount__title {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
}

.discount__text {
    font-size: 24px;
    line-height: 29px;
}

/* Стили для steps */

.steps {
    margin-bottom: 80px;
}

.steps__list {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

.steps__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    max-width: 285px;
}

.steps__icon {
    margin-bottom: 8px;
}

.steps__title {
    font-weight: 500;
    margin-bottom: 8px;
}

/* Стили для news */

.news {
    margin-bottom: 80px;
}

.news__block {
    display: flex;
    justify-content: space-between;
}

.news__text-column {
    max-width: 387px;
}

.news__title {
    margin-top: 70px;
    text-align: left;
    margin-bottom: 40px;
}

.news__text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;
}

.social {
    display: flex;
    justify-content: space-between;
    max-width: 100px;
}

.news__img-column {
    display: grid;
    grid-template-columns: 285px 387px;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
    "news__img_1 news__img_2"
    "news__img_3 news__img_2";
}

.news__img-column img:nth-child(1) {
    grid-area: news__img_1;
}

.news__img-column img:nth-child(2) {
    grid-area: news__img_2;
}

.news__img-column img:nth-child(3) {
    grid-area: news__img_3;
}

/* Стили для reviews */

.reviews {
    margin-bottom: 80px;
}

.reviews__block {
    border: 1px solid #AE7C78;
    padding: 40px 44px 64px;
}

.review__list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.review__item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.review__text {
    margin-bottom: 16px;
}

.review__name {
    font-weight: 500;
    font-style: normal;
}

/* Стили для contacts */

.contacts {
    position: relative;
    padding-top: 52px;
    padding-bottom: 72px;
}
.map__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.map__description {
    background-color: #F7FAFC;
    max-width: 386px;
    margin-left: 105px;
    padding: 40px 108px 65px 35px;
    border-radius: 12px;
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
    z-index: 2;
    position: relative;
}

.about__list {
    margin-top: 42px;
}

.about__item:not(:last-of-type) {
    margin-bottom: 32px;
}

.about__text {
    margin-bottom: 16px;
}

.about__item span {
    font-weight: 500;
}

.about__link {
    font-weight: 500;
}


/* Стили для footer */

.footer {
    background-color: #AE7C78; 
    padding: 21px 0 38px;
}

.footer .container {
    display: flex;
}

.footer .logo {
    margin-right: 103px;
}

.footer__nav {
    display: flex;
    align-items: center;
}

.footer__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 105px;
}

.footer__nav-item:not(:last-of-type) {
    margin-right: 68px;
}

.footer__nav-link {
    color: #ffffff;
}

.footer .social{
    align-items: center;
}

.footer .social__link:not(:last-of-type) {
    margin-right: 17px;
}



